@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-bg-color: #1b1b1b;
  --secondary-color: #131313;
  --font-color: #fff;
  --accent-color: #f37526;
  --scrollbar-track: #252525;
  --scrollbar-thumb: #1a1a1a;
}

body {
  background-color: var(--body-bg-color);
  color: var(--font-color);
}

::-moz-selection {
  color: var(--font-color);
  background-color: var(--accent-color);
}

::selection {
  color: var(--font-color);
  background-color: var(--accent-color);
}

.wrapper {
  margin: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li {
  height: 250px;
  list-style: none;
  border-radius: 5px;
  padding: 15px 20px 20px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.add-box,
.icon,
.bottom-content,
.popup,
header,
.settings .menu li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-box {
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}
.add-box .icon {
  height: 78px;
  width: 78px;
  color: var(--accent-color);
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px dashed var(--accent-color);
}
.add-box p {
  color: var(--accent-color);
  font-weight: 500;
  margin-top: 20px;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.book .details {
  max-height: 165px;
  overflow-y: auto;
}
.book .details::-webkit-scrollbar,
.book .details .popup textarea::-webkit-scrollbar {
  width: 0;
}
.book .details:hover::-webkit-scrollbar,
.book .details .popup textarea:hover::-webkit-scrollbar {
  width: 5px;
}
.book .details:hover::-webkit-scrollbar-track,
.book .details .popup textarea:hover::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: 25px;
}
.book .details:hover::-webkit-scrollbar-thumb,
.book .details .popup textarea:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 25px;
}
.book p {
  font-size: 22px;
  font-weight: 500;
}
.book span {
  display: block;
  color: #9b9b9b;
  font-size: 16px;
  margin-top: 5px;
}
.book .bottom-content {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.book .bottom-content span {
  color: var(--accent-color);
  font-size: 14px;
}
.book .bottom-content .settings {
  position: relative;
}
.book .bottom-content .settings i {
  color: #6d6d6d;
  cursor: pointer;
  font-size: 15px;
}
.book .bottom-content .settings i:hover {
  color: var(--accent-color);
}
.book .bottom-content .settings .menu {
  z-index: 1;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background-color: var(--secondary-color);
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  filter: brightness(1.2);
}
.book .bottom-content .settings .menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;
}
.book .bottom-content .settings .menu li i {
  padding-right: 8px;
}
.book .bottom-content .settings .menu li:last-child {
  margin-bottom: 0;
}
.book .bottom-content .settings .menu li:hover {
  background: var(--secondary-color);
  filter: brightness(120%);
  color: var(--accent-color);
}
.book .bottom-content .settings .menu li:hover i {
  color: var(--accent-color);
}
.book .bottom-content .settings.show .menu {
  transform: scale(1);
}
.book .bottom-content button {
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.book .bottom-content button.read {
  background-color: green;
}
.book .bottom-content button.not-read {
  background-color: rgb(171, 17, 6);
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}
.popup-box .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.95);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}
.popup-box .popup .content {
  border-radius: 5px;
  background-color: var(--secondary-color);
  width: calc(100% - 15px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.popup-box .popup .content header {
  padding: 15px 25px;
  border-bottom: 1px solid #ccc;
}
.popup-box .popup .content header p {
  font-size: 20px;
  font-weight: 500;
}
.popup-box .popup .content header i {
  color: #8b8989;
  cursor: pointer;
  font-size: 23px;
}
.popup-box .popup .content header i:hover {
  color: var(--accent-color);
}
.popup-box .popup .content form {
  margin: 15px 25px 35px;
}
.popup-box .popup .content form .row {
  margin-bottom: 20px;
}
.popup-box .popup .content form .row label {
  font-size: 18px;
  display: block;
  margin-bottom: 6px;
}
.popup-box .popup .content form .row input {
  background-color: var(--body-bg-color);
  color: var(--font-color);
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding: 0 15px;
  border-radius: 4px;
  border: 1px solid #999;
}
.popup-box .popup .content form .row input:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
  border: 1px solid var(--accent-color);
}
.popup-box .popup .content form button {
  width: 100%;
  height: 50px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 17px;
  border-radius: 4px;
  background-color: var(--accent-color);
}
.popup-box .popup .content form button:hover {
  filter: brightness(0.8);
}
.popup-box.show {
  opacity: 1;
  pointer-events: auto;
}
.popup-box.show .popup {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

@media (max-width: 660px) {
  .wrapper {
    margin: 15px;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 100%);
  }
  .popup-box .popup {
    max-width: calc(100% - 15px);
  }
  .bottom-content .settings i {
    font-size: 17px;
  }
}/*# sourceMappingURL=style.css.map */