.cart-section {
	// margin-block: 100px;
	width: 100%;
	height: max-content;
	display: grid;
	grid-template-columns: 200px 200px 150px 100px 100px 100px 40px;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
	font-size: 1.5rem;

	.item-in-cart {
		display: grid;
		justify-content: space-between;
		grid-template-columns: 200px 200px 150px 100px 100px 100px 40px;
		grid-column: 1 / -1;
		width: 100%;
		border-bottom: 2px solid rgb(56, 56, 56);
		padding: 20px;
		&:nth-of-type(odd) {
			background-color: rgb(199, 209, 249);
		}
	}
	.title {
		font-weight: 700;
		padding-bottom: 20px;
	}
	* {
		height: 100%;
		display: flex;
		align-items: center;
	}
	img {
		padding: 0;
		width: 150px;
		height: 150px;
	}
	.color,
	.size {
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.controls {
		display: flex;
		align-items: center;
		gap: 10px;
		border: none;

		* {
			padding: 0;
			border: none;
		}
		button {
			width: 20px;
			height: 20px;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.total {
		grid-column: 1 / -1;
		width: 100%;
		padding-block: 60px;
		p {
			display: flex;
			background-color: rgba(68, 255, 0, 0.391);
			padding: 10px;
			gap: 10px;
			span {
				font-weight: 700;
				color: rgb(17, 90, 29);
			}
		}
	}
}
