section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 80px);
}
.goBackBtn {
	position: absolute;
	top: 100px;
	left: 50px;
	padding: 10px;
	border: none;
	background-color: rgba(29, 39, 70, 0.83);
	color: white;
}
.single-product-wrapper {
	color: white;
	width: min(calc(100% - 2rem), 800px);
	margin: 0 auto;
	display: flex;
	align-items: space-between;
	justify-content: space-between;
	background-color: rgb(36, 43, 84);
	box-shadow: 0px 0px 10px rgb(37, 37, 95);
	border-radius: 8px;
	padding: 20px;
	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.right-panel {
		padding: 40px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 20px;
		h2 {
			font-size: 3.2rem;
			font-weight: normal;
		}
		h4 {
			font-size: 1.5rem;
			font-weight: lighter;
			color: rgb(227, 227, 227);
		}
		.sizes,
		.colors {
			display: flex;
			gap: 5px;
			button {
				width: 40px;
				aspect-ratio: 1;
				&.active {
					background-color: #000;
					color: white;
				}
			}
		}
		.colors {
			button {
				transition: 300ms linear;
				position: relative;
				overflow: hidden;
				&.active {
					&::before {
						top: 0;
						right: 0;
						position: absolute;
						content: '';
						width: 50%;
						height: 50%;
						background-color: rgba(12, 12, 12, 0.662);
						
						border: 1px solid rgb(255, 255, 255);
						transform: rotate(-45deg) translate(50%, 50%);
					}
				}
			}
		}
		button {
			width: 250px;
			padding: 10px;
			background-color: #fff;
			border: 1px solid rgb(125, 125, 125);
		}
	}
}
