nav {
  top: 0;
  position: fixed;
  box-shadow: 0px 0px 10px rgba(9, 13, 23, 0.7568627451);
  width: 100%;
  height: 80px;
  background-color: rgba(12, 28, 57, 0.899);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
  font-size: 1.3rem;
}
nav a {
  color: white !important;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .left-nav,
nav .right-nav {
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
nav .left-nav button,
nav .right-nav button {
  padding: 4px;
  background-color: #fff;
  border: 1px solid rgb(121, 121, 121);
  border-radius: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 6px;
}
nav .left-nav button span,
nav .right-nav button span {
  background-color: rgb(45, 179, 21);
  position: absolute;
  width: 18px;
  height: 18px;
  top: -8px;
  right: -8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.7rem;
}
nav .left-nav .cartBtn,
nav .right-nav .cartBtn {
  background-color: rgba(140, 33, 33, 0);
  border: none;
  padding: 0;
}
nav .selectCurrency {
  position: absolute;
  top: 60px;
  right: 80px;
  background-color: #fff;
  width: 50px;
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.202);
}
nav .selectCurrency .currency {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav .cart {
  padding-top: 20px;
  background-color: #fff;
  overflow: auto;
  position: absolute;
  top: 80px;
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.202);
  width: 300px;
  height: 400px;
  right: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
}
nav .cart p {
  place-self: center;
}
nav .cart .item-in-cart {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  border-bottom: 1px solid rgb(0, 255, 8);
  padding-bottom: 10px;
}
nav .cart .item-in-cart img {
  width: 50px;
  height: 50px;
}
nav .cart .item-in-cart .top,
nav .cart .item-in-cart .bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
nav .cart .item-in-cart .top span,
nav .cart .item-in-cart .bottom span {
  font-size: 1rem;
}
nav .cart .item-in-cart .top .price,
nav .cart .item-in-cart .bottom .price {
  color: rgb(70, 70, 70);
  font-size: 1rem;
}
nav .cart .item-in-cart .top .controls,
nav .cart .item-in-cart .bottom .controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .cart .item-in-cart .top .controls button,
nav .cart .item-in-cart .bottom .controls button {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: rgb(234, 234, 234);
}
nav .cart .summary {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
nav .cart .checkout {
  border: 1px solid black;
  background-color: #fff;
  margin: 0 auto;
}
nav * {
  color: black;
  text-decoration: none;
}

.active {
  border-bottom: 3px solid rgb(0, 255, 21);
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.goBackBtn {
  position: absolute;
  top: 100px;
  left: 50px;
  padding: 10px;
  border: none;
  background-color: rgba(209, 209, 209, 0.208);
}
.goBackBtn:hover {
  border-bottom: 2px solid green;
}

.single-product-wrapper {
  width: 800px;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  background-color: rgb(242, 242, 242);
  padding: 20px;
}
.single-product-wrapper .right-panel {
  padding: 40px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.single-product-wrapper .right-panel h2 {
  font-size: 3.2rem;
  font-weight: normal;
}
.single-product-wrapper .right-panel h4 {
  font-size: 1.5rem;
  font-weight: lighter;
  color: rgb(76, 76, 76);
}
.single-product-wrapper .right-panel .sizes,
.single-product-wrapper .right-panel .colors {
  display: flex;
  gap: 5px;
}
.single-product-wrapper .right-panel .sizes button,
.single-product-wrapper .right-panel .colors button {
  width: 40px;
  aspect-ratio: 1;
}
.single-product-wrapper .right-panel .sizes button.active,
.single-product-wrapper .right-panel .colors button.active {
  background-color: #000;
  color: white;
}
.single-product-wrapper .right-panel .colors button {
  transition: 300ms linear;
  position: relative;
  overflow: hidden;
}
.single-product-wrapper .right-panel .colors button.active {
  opacity: 1;
}
.single-product-wrapper .right-panel .colors button.active::before {
  top: 0;
  right: 0;
  position: absolute;
  content: "";
  width: 50%;
  height: 50%;
  background-color: rgba(12, 12, 12, 0.662);
  border: 1px solid rgb(255, 255, 255);
  transform: rotate(-45deg) translate(50%, 50%);
}
.single-product-wrapper .right-panel .colors .red {
  background-color: red;
}
.single-product-wrapper .right-panel .colors .green {
  background-color: green;
}
.single-product-wrapper .right-panel .colors .blue {
  background-color: blue;
}
.single-product-wrapper .right-panel .colors .orange {
  background-color: rgb(255, 115, 0);
}
.single-product-wrapper .right-panel button {
  width: 250px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgb(125, 125, 125);
}

.cart-section {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: 200px 200px 150px 100px 100px 100px 40px;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
}
.cart-section .item-in-cart {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 200px 200px 150px 100px 100px 100px 40px;
  grid-column: 1/-1;
  width: 100%;
  border-bottom: 2px solid rgb(56, 56, 56);
  padding: 20px;
}
.cart-section .item-in-cart:nth-of-type(odd) {
  background-color: rgb(239, 241, 253);
}
.cart-section .title {
  font-weight: 700;
  padding-bottom: 20px;
}
.cart-section * {
  height: 100%;
  display: flex;
  align-items: center;
}
.cart-section img {
  padding: 0;
  width: 150px;
  height: 150px;
}
.cart-section .color,
.cart-section .size {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-section .controls {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
}
.cart-section .controls * {
  padding: 0;
  border: none;
}
.cart-section .controls button {
  width: 20px;
  height: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-section .total {
  grid-column: 1/-1;
  width: 100%;
  padding-block: 60px;
}
.cart-section .total p {
  display: flex;
  background-color: rgba(68, 255, 0, 0.391);
  padding: 10px;
  gap: 10px;
}
.cart-section .total p span {
  font-weight: 700;
  color: rgb(17, 90, 29);
}

#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh !important;
  margin-top: 80px !important;
  gap: 80px;
  background-color: rgba(12, 28, 57, 0.911);
}
#home img {
  width: 60%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgb(37, 37, 57);
}
#home div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
}
#home div h1 {
  font-size: clamp(2rem, 3vw, 20vw);
  color: white;
}
#home div button {
  height: 50px;
  width: 140px;
  font-size: 1.2rem;
  color: white;
  border: none;
  background-color: rgb(39, 195, 65);
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(38, 164, 26, 0.471);
}
#home div button:hover {
  box-shadow: 0px 0px 10px rgb(37, 164, 26);
}

#clients-recommendation {
  margin-top: 0px !important;
  background-color: rgb(231, 235, 249);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}
#clients-recommendation h1 {
  font-size: clamp(2rem, 3vw, 20vw);
  color: rgb(43, 148, 43);
}
#clients-recommendation .reviews {
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
  display: grid;
  justify-content: center;
  align-items: center;
  place-content: center;
  padding: 50px;
  gap: 40px;
}
#clients-recommendation .reviews .card {
  border-radius: 8px;
  gap: 20px;
  padding: 50px;
  text-align: center;
  color: white;
  background-color: rgb(23, 27, 46);
  box-shadow: 0px 0px 10px rgb(13, 17, 77);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#clients-recommendation .reviews .card p {
  font-size: 1.2rem;
}
#clients-recommendation .reviews .card img {
  width: 60px;
  border-radius: 50%;
}
#clients-recommendation .reviews .card span {
  font-size: 1.4rem;
  color: rgb(63, 175, 63);
}
#clients-recommendation .reviews .card .rating {
  font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

section {
  margin-top: 150px !important;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  height: calc(100vh - 80px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

.product {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 380px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 0px 10px rgba(37, 37, 37, 0.202);
  overflow: hidden;
  border-radius: 8px;
  justify-content: space-between;
}
.product .description {
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  gap: 10px;
}
.product .description button {
  padding: 10px;
  cursor: pointer;
}
.product img {
  height: 220px;
  width: 300px;
}/*# sourceMappingURL=style.css.map */