* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: space-around;
  padding-inline: 50px;
  padding-block: 50px;
}

.forms {
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  overflow-y: scroll;
}

form,
.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}
form input,
form select,
.form input,
.form select {
  padding: 10px;
}
form button,
.form button {
  padding: 10px 15px;
  cursor: pointer;
}
form textarea,
.form textarea {
  padding: 10px;
  height: 150px;
}

.tags-container {
  width: 500px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: 15px;
}
.tags-container .tag {
  background-color: rgb(62, 62, 62);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 22px;
  gap: 10px;
  color: #fff;
}
.tags-container .tag .delete-tag {
  background-color: #fff;
  padding: 5px;
  color: black;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tags-container input {
  border: none;
  outline: none;
  background-color: transparent;
}

.hobbies .tag:nth-child(1) {
  background-color: rgb(71, 90, 130);
}
.hobbies .tag:nth-child(2) {
  background-color: rgb(135, 41, 108);
}
.hobbies .tag:nth-child(3) {
  background-color: rgb(197, 97, 117);
}
.hobbies .tag:nth-child(4) {
  background-color: rgb(33, 119, 154);
}
.hobbies .tag:nth-child(5) {
  background-color: rgb(13, 176, 129);
}
.hobbies .tag:nth-child(6) {
  background-color: rgb(100, 68, 192);
}
.hobbies .tag:nth-child(7) {
  background-color: rgb(98, 87, 128);
}
.hobbies .tag:nth-child(8) {
  background-color: rgb(35, 132, 155);
}
.hobbies .tag:nth-child(9) {
  background-color: rgb(79, 48, 64);
}
.hobbies .tag:nth-child(10) {
  background-color: rgb(189, 149, 118);
}
.hobbies .tag:nth-child(11) {
  background-color: rgb(83, 42, 96);
}
.hobbies .tag:nth-child(12) {
  background-color: rgb(43, 45, 49);
}
.hobbies .tag:nth-child(13) {
  background-color: rgb(190, 158, 49);
}
.hobbies .tag:nth-child(14) {
  background-color: rgb(193, 61, 8);
}
.hobbies .tag:nth-child(15) {
  background-color: rgb(121, 113, 177);
}
.hobbies .tag:nth-child(16) {
  background-color: rgb(76, 177, 23);
}
.hobbies .tag:nth-child(17) {
  background-color: rgb(165, 126, 135);
}
.hobbies .tag:nth-child(18) {
  background-color: rgb(60, 181, 116);
}
.hobbies .tag:nth-child(19) {
  background-color: rgb(70, 6, 25);
}
.hobbies .tag:nth-child(20) {
  background-color: rgb(17, 175, 194);
}

.preview-container {
  aspect-ratio: 1/1.4142;
}

.preview {
  scale: 1;
  height: 70.5vh;
  aspect-ratio: 1/1.4142;
  overflow: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 8.4%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.preview img {
  position: absolute;
  left: 8.4%;
  width: 20%;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.preview .title {
  font-size: 1.2rem;
  padding: 5px;
  width: 100%;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.preview .cv-span {
  font-size: 1.4rem;
  opacity: 0.5;
}
.preview .name {
  font-size: 2rem;
}
.preview ul {
  list-style-type: none;
}
.preview .hr {
  width: 10%;
  opacity: 0.5;
}
.preview .description {
  line-height: 1.5;
  opacity: 0.7;
  font-size: 0.75rem;
}
.preview .experience {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.preview .experience .university {
  display: flex;
  align-items: center;
}
.preview .experience .university::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
}
.preview .experience .university b {
  padding-left: 15px;
}
.preview .education {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.preview .education .university {
  display: flex;
  align-items: center;
}
.preview .education .university::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
}
.preview .education .university b {
  padding-left: 15px;
}
.preview .languages {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.preview .skills {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.preview .certifications {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
  gap: 5px;
}
.preview .certifications .certificate-name {
  display: flex;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
}
.preview .certifications .certificate-name .square {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
}
.preview .hobbies {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.preview .hobbies li:before {
  content: " - ";
}
.preview .links {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.preview .links p {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */