* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  display: flex;
  justify-content: space-around;
  padding-inline: 50px;
  padding-block: 50px;
  background-color: #fff;
}

.github-link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0%;
  height: 20px;
  background-color: rgb(33, 33, 33);
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
  transition: all 300ms linear;
  opacity: 0.9;
}
.github-link svg {
  fill: white;
}
.github-link:hover {
  height: 40px;
  opacity: 1;
}

.forms {
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  overflow-y: scroll;
}

.form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 10px;
}
.form input,
.form select {
  padding: 10px;
}
.form button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: rgb(32, 210, 106);
  color: #fff;
  font-weight: bold;
  border: none;
}
.form button:hover {
  filter: brightness(90%);
}
.form button.delete {
  background-color: rgb(151, 28, 28);
}
.form textarea {
  padding: 10px;
  height: 150px;
}

.tags-container {
  width: 500px;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  gap: 15px;
}
.tags-container .tag {
  background-color: rgb(62, 62, 62);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 22px;
  gap: 10px;
  color: #fff;
}
.tags-container .tag .delete-tag {
  background-color: #fff;
  padding: 5px;
  color: black;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tags-container input {
  border: none;
  outline: none;
  background-color: transparent;
}

.hobbies .tag:nth-child(1) {
  background-color: rgb(135, 11, 82);
}
.hobbies .tag:nth-child(2) {
  background-color: rgb(107, 92, 177);
}
.hobbies .tag:nth-child(3) {
  background-color: rgb(56, 174, 74);
}
.hobbies .tag:nth-child(4) {
  background-color: rgb(98, 88, 33);
}
.hobbies .tag:nth-child(5) {
  background-color: rgb(175, 75, 188);
}
.hobbies .tag:nth-child(6) {
  background-color: rgb(100, 9, 200);
}
.hobbies .tag:nth-child(7) {
  background-color: rgb(195, 100, 22);
}
.hobbies .tag:nth-child(8) {
  background-color: rgb(8, 32, 184);
}
.hobbies .tag:nth-child(9) {
  background-color: rgb(69, 50, 199);
}
.hobbies .tag:nth-child(10) {
  background-color: rgb(107, 22, 65);
}
.hobbies .tag:nth-child(11) {
  background-color: rgb(36, 24, 119);
}
.hobbies .tag:nth-child(12) {
  background-color: rgb(66, 171, 198);
}
.hobbies .tag:nth-child(13) {
  background-color: rgb(134, 26, 127);
}
.hobbies .tag:nth-child(14) {
  background-color: rgb(71, 82, 4);
}
.hobbies .tag:nth-child(15) {
  background-color: rgb(105, 92, 138);
}
.hobbies .tag:nth-child(16) {
  background-color: rgb(162, 176, 47);
}
.hobbies .tag:nth-child(17) {
  background-color: rgb(121, 109, 189);
}
.hobbies .tag:nth-child(18) {
  background-color: rgb(182, 142, 159);
}
.hobbies .tag:nth-child(19) {
  background-color: rgb(32, 189, 100);
}
.hobbies .tag:nth-child(20) {
  background-color: rgb(96, 149, 117);
}

.preview-container {
  aspect-ratio: 1/1.4142;
}

.preview {
  scale: 1;
  height: 70.5vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  aspect-ratio: 1/1.4142;
  overflow: auto;
  overflow-x: hidden;
  padding: 8.4%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.preview img {
  position: absolute;
  left: 8.4%;
  width: 20%;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.preview .title {
  font-size: 1.2rem;
  padding: 5px;
  width: 100%;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.preview .cv-span {
  font-size: 1.4rem;
  opacity: 0.5;
}
.preview .name {
  font-size: 2rem;
}
.preview ul {
  list-style-type: none;
}
.preview .hr {
  width: 10%;
  opacity: 0.5;
}
.preview .description {
  line-height: 1.5;
  opacity: 0.7;
  font-size: 0.75rem;
  font-style: italic;
}
.preview .experience {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.preview .experience .university {
  display: flex;
  align-items: center;
}
.preview .experience .university::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
}
.preview .experience .university b {
  padding-left: 15px;
}
.preview .education {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.preview .education .university {
  display: flex;
  align-items: center;
  min-height: 2ch;
}
.preview .education .university::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
}
.preview .education .university b {
  padding-left: 15px;
}
.preview .languages {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.preview .skills {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.preview .certifications {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
  gap: 5px;
}
.preview .certifications .certificate-name {
  display: flex;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
}
.preview .certifications .certificate-name .square {
  margin-top: 4px;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
}
.preview .hobbies {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.preview .hobbies li:before {
  content: " - ";
}
.preview .links {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.preview .links p {
  font-weight: bold;
}

@media (max-width: 1400px) {
  .App {
    flex-direction: column-reverse;
    gap: 0;
  }
  .form {
    width: 90%;
  }
  .preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
  }
}/*# sourceMappingURL=main.css.map */